@using LunchMenu.Web.Models.Account
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your username and password!</p>

                            <form asp-controller="Account" asp-action="Login" method="post">

                                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                                {
                                    <div class="alert alert-danger">
                                        @ViewData["ErrorMessage"]
                                    </div>
                                }
                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <label asp-for="Username" class="form-label"></label>
                                    <input asp-for="Username" class="form-control form-control-lg" placeholder="Enter username" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Enter password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

